body{
    width: 98%;
    margin: auto;
}
h3 {
    margin: 0 10px 0 0;
    display: inline;
}
h4 {
    margin-top: 6px !important;
}
.top-margin {
    margin-top: 50px;
}
input[type=text], input[type=date], select {
    border: black 1px solid;
    margin-right: 5px;
    width: 153px;
    height: 32px;
    padding-bottom: 2px;
}
.done{
    text-decoration: line-through;
    color: darkgray;
}
.clearBtn {
    margin-top: 10px;
}
th{
    margin: 3px;
    text-align: center;
}
.nameCol{
    width: 250px;
    padding-left: 5px;
}
.dateCol{
    width: 120px;
    padding-left: 5px;
}
.doneCheck{
    width: 80px;
}
td.doneCheck {
    text-align: center;
}
.removeTask{
    width: 50px;
}
td.removeTask{
    text-align: center;
}
.pastDue {
    color: red;
}
.even{
    background-color: #E1E1E1;
}
table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}
.form-control {
    width: 153px;
    display: inline-block;
    margin-right: 5px;
}
#navAddList{
    padding-top: 8px;
}
.listBtns{
    margin: 0 10px 10px 0;
}
#allBtn{
    margin: 0 6px 10px 0;
}
#archiveBtn{
    margin: 0 0 10px -4px;
}
input[type=date]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.listTitle{
    margin-bottom: 10px;
}