<div class="alert alert-success">
<form name="addForm" ng-submit="bc.doSomething()">
    <input type="text" ng-model="bc.sometext" required/>

    <!--<select ng-model="bc.listType" required>-->
        <!--<option ng-repeat="option in bc.data.availableOptions" value="{{option.id}}">{{option.name}}</option>-->
    <!--</select>-->
    <input type="date" ng-model="bc.dateDue" min="{{bc.minDate | date:'yyyy-MM-dd'}}" required>
    <button ng-disabled="addForm.$invalid" class="btn btn-success">Add task</button>
</form>

</div>
<div>
    <table>
        <tr>
            <th class="doneCheck">Complete?</th>
            <th class="nameCol">Name</th>
            <th class="dateCol">Due Date</th>
            <th class="removeTask">Delete</th>
        </tr>
        <tr ng-repeat="todo in bc.doList | orderBy:'due'" ng-class="{'done':todo.done}">
            <td class="doneCheck"><input type="checkbox" ng-model="todo.done" /></td>
            <td class="nameCol"><span ng-bind="todo.title" ng-class="{pastDue: "></span></td>
            <td class="dateCol"><span ng-bind="todo.due | date"></span></td>
            <td class="removeTask"><span ng-click="bc.deleteTask(todo)" class="glyphicon glyphicon-remove"></span></td>
            <!--<input type="text" datepicker-popup="{{format}}" ng-model="start" is-open="startOpened" min="minStartDate" max="maxStartDate" datepicker-options="dateOptions" close-text="Close" />-->
        </tr>
    </table>
</div>
<div>
    <button id="clearBtn" ng-click="bc.clearDone()" class="btn btn-warning">Clear Done Tasks </button>
</div>
<!--<script>console.log(bc.today());</script>-->