<div class="alert alert-success">
    <form name="addForm" ng-submit="wc.doSomething()">
        <input type="text" ng-model="wc.sometext" required/>

        <!--<select ng-model="bc.listType" required>-->
        <!--<option ng-repeat="option in bc.data.availableOptions" value="{{option.id}}">{{option.name}}</option>-->
        <!--</select>-->
        <input type="date" ng-model="wc.dateDue" required>
        <button ng-disabled="addForm.$invalid">Add task</button>
    </form>

</div>
<div>
    <ul>
        <li ng-repeat="todo in wc.doList" ng-class="{'done':todo.done}">
            <input type="checkbox" ng-model="todo.done" />
            <span ng-bind="todo.title"></span>
            <span ng-bind="todo.due"></span>
            <!--<span>{{todo.due}}</span>-->
        </li>
    </ul>
</div>